.header {
	background-color: #fff;
	font-size: 20px;
	color: #343433;
	text-align: center;
	border-bottom: 2px solid black;
}

.title {
	font-size: 40px;
}

.gridContainer {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 5px;
}

.chart {
	display: inline-block;
	background-color: #D8FBDD;
	height: 75px;
	width: 340px;
	margin: 15px;
	font-size: 16px;
	border: 1px solid grey;
	padding-left: 15px;
	padding-top: 10px;
}

.fullName {
	display: inline;
}

.positionTitle {
	font-size: 12px;
	font-style: italic;
}

.hireEmployee {
	background-color: #28A9E0;
	color: white;
	padding: 8px;
	cursor: pointer;
	margin-left: 20px;
	font-size: 24px;
	border: 2px solid grey;
	margin-bottom: 50px;
}

.input {
	border: .5 solid #eee;
	margin-top, margin-bottom: 5px;
	width: 100px;
	font-size: 14px;
}

.retireButton {
	visibility: hidden;
	float: right;
	margin: 3px;
	font-size: 12px;
	cursor: pointer;
	color: black;
}

.chart:hover .retireButton {
	visibility: visible;
}

.formClass {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
	padding: 10px;
	border: 1px solid grey;
	background-color: #D8FBF8;
}

.directReportsDisplay {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	padding: 5px;

}

.directReportsDisplay .chart {
	display: inline-block;
	text-align: center;
	background-color: #FBEBD8;
	height: 80px;
	width: 170px;
	margin: 5px;
	font-size: 16px;
	border: 1px solid grey;
	padding: 15px;
}
